.App {
  display: flex; 
}

body{
  margin: 0;
  padding: 0;
}

.side-nav {
  display: flex; 
  flex-direction: column; 
  padding-left: 1%;
  background-color: #D3D3D3;
  height: 100vh; 
  padding-right: 1%; 
}

.with-nav {
  background-color: #F2F1F2;
  width: 100%; 
  padding-left: 3%; 
  padding-top: 40px;  
  height: 100vh; 
}
 
h2 {
  font-size: 20px; 
  font-weight: bold; 
}

.allNotes {
  display: flex; 
  flex-wrap: wrap; 
  margin-top: 20px; 
}

.note {
  width: 25%; 
  margin-right: 4%;
  margin-bottom: 20px;  
  padding: 1% 2%;
  background-color: white; 
  height: 250px;
  border: 1px solid lightgrey; 
}

.note a {
  text-decoration: none; 
  color: black; 
}

.button {
  padding: 13px 20px; 
  background-color: #24B8BD; 
  margin: 10px 0px; 
  width: 180px; 
  text-align: center; 
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
  border: 1px solid grey; 
}

.form{
  display: flex; 
  flex-direction: column; 
  width: 85%; 
  margin-top: 20px; 
}

.form-data {
  margin-bottom: 20px; 
}

h3 {
  font-size: 20px; 
  font-weight: bold; 
}

.note-individual {
  display: flex; 
  flex-direction: column; 
}

.buttons {
  display: flex; 
  justify-content: flex-end; 
  margin-right: 5%; 
}

.delete-button, .edit-button {
  padding: 15px; 
  font-weight: bold; 
  text-decoration: underline; 
  cursor: pointer; 
}

.modal-buttons {
  display: flex; 
  justify-content: center;  
}

.delete {
  color: white; 
  background-color: firebrick; 
  padding: 15px; 
  width: 30%; 
  cursor: pointer; 
  margin: 10px; 
}

.cancel {
  color: white; 
  background-color: #24B8BD; 
  padding: 15px; 
  width: 30%; 
  cursor: pointer; 
  margin: 10px; 
}

.individual-note-title {
  margin-bottom: 20px; 
}

.welcome-screen {
  height: 100vh;
  text-align: center; 
  background-image: linear-gradient( 68.8deg,  rgba(0,0,0,0.95) 1.8%, rgba(0,55,79,1) 31.8%, rgba(9,93,134,1) 56.2%, rgba(15,155,217,1) 89% );
  padding: 0;
  margin: 0;
  width: 100%;   
  font-weight: bold; 
  color: white; 
}

 h1 {
  margin-top: 0; 
  padding-top: 100px;
}

.loginAndSignup{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}

.button-login, .button-signup {
  margin: 10px; 
  padding: 10px 25px; 
  background-color: white; 
  color: black;
  font-size: 20px;  
  cursor: pointer; 
  border-radius: 10px; 
}

.button-login:hover, .button-signup:hover{
  background-color: #042B3C;
  color: white; 
}

.routes {
  height: 100%; 
  width: 100%;
}